* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  padding: 15px 30px;
  gap: 10px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid blue;
  cursor: pointer;
  transition: all 0.5s;

  font-size: 18px;
  font-weight: 400;
}
.button:hover {
  color: white;
  background-color: blue;
}
